h1 {
    text-align: center;
}
* {
    box-sizing: border-box;
}
#mobile-title {
    display: none;
    text-align: left;
    font-size: 18px;
    font-family: cursive;
    margin: 10px;
}
.container {
    padding: 10px;
}
.section {
    background-color: #808080;
    border: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.section-title {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    float: right;
}
.mobile {
    font-size: 35px;
}
.section-body {
    clear: both;
    padding: 5px;
    max-height: 100px;
    overflow: scroll;
    overflow-y: scroll;
    cursor: ns-resize;
}
#chicken {
    background-color: #ffc0cb;
}
#beef {
    background-color: #bc0202;
    color: #ffffff;
}
#sushi {
    background-color: #ffdab9;
}
#chicken-mobile {
    display: none;
    background-color: #ffc0cb;
}
#beef-mobile {
    display: none;
    background-color: #bc0202;
    color: #ffffff;
}
#sushi-mobile {
    display: none;
    background-color: #ffdab9;
}

/******** Desktop *********/
@media (min-width: 992px) {

    .container {
        width: 33%;
        float: left;
    }

}

/******** Tablet *********/
@media (min-width: 768px) and (max-width: 991px) {

    .container {
        float: left;
    }

    .container-tablet-1 {
        width: 100%;
    }

    .container-tablet-2 {
        width: 50%;
    }

}

/******** Mobile *********/
@media (max-width: 767px) {

    #title {
        display: none;
    }

    #mobile-title {
        display: block;
    }

    .container {
        float: left;
    }

    .section-title {
        width: 100%;
    }

    #chicken {
        display: none;
    }
    #beef {
        display: none;
    }
    #sushi {
        display: none;
    }

    #chicken-mobile {
        display: block;
    }
    #beef-mobile {
        display: block;
    }
    #sushi-mobile {
        display: block;
    }
}