body {
    background-color: powderblue;
}
h1 {
    text-align: center;
}
#categories-title {
    display: none;
    text-align: left;
    font-size: small;
    font-family: cursive;
    margin: 10px;
}
.section {
    background-color: gray;
    border: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    box-sizing: border-box;
}
.section-title {
    background-color: red;
    width: 100px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    float: right;
    box-sizing: border-box;
}
.section-body {
    clear: both;
    padding: 5px;
    box-sizing: border-box;
    max-height: 60px;
    overflow: scroll;
    overflow-y: scroll;
    cursor: ns-resize;
}
#chicken {
    background-color: pink;
}
#beef {
    background-color: red;
    color: white;
}
#sushi {
    background-color: peachpuff;
}