* {
  box-sizing: border-box;
}

#header-nav {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  background-color: lightgray;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 1.8em;
}

#collapsable-nav {
  padding: 0 0 0 0;
}

#nav-list {
  margin: 0 0 0 0;
}

#nav-list li {
  border-bottom: 1px solid black;
}

#nav-list li a {
  background-color: rgb(130, 244, 130);
  color: black;
}

#menu-heading {
  font-size: 2em;
  font-weight: 500;
  padding-top: 10px;
}

.menu-item-container {
  padding-top: 10px;
}

.menu-item {
  background-color: lightgray;
  padding: 10px;
}

.menu-item-text {
  height: 1000px;
}

.menu-item-heading {
  padding: 0px 10px 10px 10px;
  margin: 0px;
}

/******** Mobile *********/
@media (max-width: 767px) {

  #header-nav {
    border-bottom: none;
  }

  .navbar-header {
    border-bottom: 1px solid black;
  }

}